* {
    padding: 0;
    margin: 0;
  }
  :root,
  body,
  html {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-family: sans-serif;
  }
  h1 {
    font-weight: 400;
  }
  button {
    background-color: #854ce6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 20px 2px;
    cursor: pointer;
  }
  
  mark {
    font-size: 18px;
    margin: 20px auto;
  }